### Import Libraries

In [20]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv(r"path")

### Overview of the dataset

In [26]:
df.head()

,month,country_group,signups,kyc_completed,first_time_mau,lapsed_mau,reactivated_mau,churned_mau
0,2024-12-01,AUT,0.0,0.0,0.0,0.0,0.0,0.0
1,2024-12-01,AUT,0.0,0.0,0.0,0.0,0.0,0.0
2,2024-12-01,AUT,0.0,0.0,0.0,0.0,0.0,0.0
3,2024-12-01,AUT,0.0,0.0,0.0,0.0,0.0,0.0
4,2024-12-01,AUT,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   month            29999 non-null  object
 1   country_group    29999 non-null  object
 2   signups          29999 non-null  float64
 3   kyc_completed    29999 non-null  float64
 4   first_time_mau   29999 non-null  float64
 5   lapsed_mau       29999 non-null  float64
 6   reactivated_mau  29999 non-null  float64
 7   churned_mau      29999 non-null  float64
dtypes: float64(6), object(2)
memory usage: 1.8+ MB

In [30]:
df['month'].describe()

count          29999
unique            89
top       2023-12-01
freq             477
Name: month, dtype: object

### Identify and remove duplicates

In [38]:
duplicates = df[df.duplicated()]
duplicates.describe()

,signups,kyc_completed,first_time_mau,lapsed_mau,reactivated_mau,churned_mau
count,19523.000000,19523.0,19523.0,19523.000000,19523.000000,19523.000000
mean,0.000263,0.0,0.0,0.004868,0.004473,0.000132
std,0.036763,0.0,0.0,0.575131,0.572485,0.018381
min,0.000000,0.0,0.0,0.000000,0.000000,0.000000
25%,0.000000,0.0,0.0,0.000000,0.000000,0.000000
50%,0.000000,0.0,0.0,0.000000,0.000000,0.000000
75%,0.000000,0.0,0.0,0.000000,0.000000,0.000000
max,5.136691,0.0,0.0,79.618715,79.618715,2.568346

In [40]:
df1 = df.drop_duplicates()
df1

,month,country_group,signups,kyc_completed,first_time_mau,lapsed_mau,reactivated_mau,churned_mau
0,2024-12-01,AUT,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
40,2024-12-01,DEU,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
80,2024-12-01,ESP,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
120,2024-12-01,FRA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
160,2024-12-01,Global,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
29994,2017-08-01,FRA,1689.971433,613.834609,503.395746,233.719454,151.532393,5.136691
29995,2017-08-01,FRA,5920.036708,3369.669484,3012.669440,1584.669262,1006.791492,30.820148
29996,2017-08-01,FRA,164.374121,64.208641,48.798567,82.187061,33.388493,0.000000
29997,2017-08-01,FRA,529.079203,292.791403,251.697873,285.086366,215.741034,2.568346
29998,2017-08-01,FRA,1237.942600,593.287844,485.417327,115.575554,51.366913,0.000000

### Drop GLO, Global and USA as regions

In [31]:
df['country_group'].unique()

array(['AUT', 'DEU', 'ESP', 'FRA', 'Global', 'GrE', 'ITA', 'NEuro', 'GLO',
       'USA'], dtype=object)

In [32]:
df1 = df1[~df1['country_group'].isin(['Global', 'GLO', 'USA'])]
df1['country_group'].unique()

array(['AUT', 'DEU', 'ESP', 'FRA', 'GrE', 'ITA', 'NEuro'], dtype=object)

In [33]:
df1.describe()

,signups,kyc_completed,first_time_mau,lapsed_mau,reactivated_mau,churned_mau
count,10363.000000,10363.000000,10363.000000,10363.000000,10363.000000,10363.000000
mean,2531.583083,1399.992992,1170.612191,3124.573521,2596.214288,152.293751
std,4866.018577,2849.341344,2432.873713,5769.576818,4914.184676,320.556370
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.136691,7.705037,12.841728,74.482024,53.935259,2.568346
50%,351.863353,187.489232,164.374121,624.107991,477.712290,20.546765
75%,2695.478753,1279.036130,1010.644011,3331.144300,2605.586656,125.848936
max,86011.327260,45667.753890,35959.407360,61108.647900,43009.516150,3290.050769

### Export to CSV for further cleaning in SQL

In [46]:
df1.to_csv('Marketing_data_analysis_cleaned_for_sql.csv', index=False)